<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/springassignment</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root11!:R00t</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="hibernate.show_sql">true</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="com.zemoso.springassignment.model.User"/>
        <mapping class="com.zemoso.springassignment.model.Transactions"/>
        <mapping class="com.zemoso.springassignment.model.Account"/>
    </session-factory>
</hibernate-configuration>